<div class="mt-3" >
  <strong>Commenter:</strong>
  <%= comment.commenter %>
  <ul class="float-end mb-5" >
    <a>&#10006; <%= link_to "Del ", [comment.article, comment],
                    method: :delete,
                    data: { confirm: "Are you sure?" } %></a>
  </ul>
</div>

<div class="container" >
  <div class="row">
    <div>
      <p>
        <strong>Comment:</strong>
        <%= comment.body %>
      </p>
    </div>
  </div>
</div>
